.workloadContainer {
    border-radius: 4px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    .pod {
        position: absolute;
        right: 0px;
        top: -20px;
        left: 50%;
        text-align: center;
        transform: translateX(-50%); 
        height: 24px;
        line-height: 24px;
        overflow: hidden;
        text-overflow:ellipsis;
    }
}