{
  "extends": "airbnb",
  "env": {
    "jest": true
  },
  "rules": {
    "semi": [
      2,
      "never"
    ],
    "allowForLoopAfterthoughts": 0,
    "comma-dangle": 0,
    "max-len": 0,
    "camelcase": 0,
    "react/sort-comp": 0,
    "prefer-destructuring": 0,
    "no-restricted-globals": 0,
    "object-curly-newline": 0,
    "react/require-default-props": 0,
    "react/jsx-wrap-multilines": 0,
    "react/destructuring-assignment": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "react/no-unused-state": 0,
    "no-else-return": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-closing-tag-location": 0,
    "react/forbid-prop-types": 0,
    "react/no-array-index-key": 0,
    "linebreak-style": [0 ,"error", "windows"],
    "react/no-access-state-in-setstate": 0,
    "react/jsx-first-prop-new-line": 0,
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-props-no-spreading": 0,
    "react/jsx-curly-brace-presence": 0,
    "import/first": 0,
    "consistent-return": 0,
    "import/no-duplicates": 0,
    "react/jsx-indent": 0,
    "import/newline-after-import": 0,
    "react/no-unused-prop-types": 0,
    "react/self-closing-comp": 0,
    "generator-star-spacing": 0,
    "import/extensions": 0,
    "react/jsx-boolean-value": 0,
    "react/jsx-closing-bracket-location": 0,
    "react/no-string-refs": 0,
    "react/no-find-dom-node": 0,
    "arrow-parens": 0,
    "import/order": 0,
    "import/no-cycle": 0,
    "no-inner-declarations": 0,
    "import/no-useless-path-segments": 0,
    "react/prefer-stateless-function": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "no-unused-expressions": [
      0,
      {
        "allowShortCircuit": true,
        "allowTernary": true
      }
    ],
    "no-plusplus": "off",
    "no-continue": "off",
    "arrow-body-style": [
      0,
      "never"
    ],
    "func-names": 0,
    "prefer-const": 0,
    "no-extend-native": 0,
    "no-param-reassign": 0,
    "no-restricted-syntax": 0,
    "no-eval": 0,
    "react/jsx-no-bind": 0,
    "no-unused-vars": [
      2,
      {
        "ignoreRestSiblings": true
      }
    ],
    // disabled rules for airbnb config v18
    "react/state-in-constructor": 0,
    "react/jsx-curly-newline": 0,
    "no-multiple-empty-lines": 0,
    "prefer-object-spread": 0
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "jsx": true
    },
    "requireConfigFile": false
  },
  "globals": {
    "window": true,
    "document": true
  }
}
