{
  "settings": {
    "react": {
      "version": "16.4.1"
    }
  },
  "rules": {
    "semi": [
      2,
      "never"
    ],
    "allowForLoopAfterthoughts": 0,
    "comma-dangle": [
      2,
      "always-multiline"
    ],
    "max-len": 0,
    "indent" : "off",
    "react/forbid-prop-types": 0,
    "react/jsx-first-prop-new-line": 0,
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": 0,
    "react/require-default-props": 0,
    "react/no-array-index-key": 0,
    "jsx-a11y/alt-text": 0,
    "jsx-a11y/img-has-alt": 0,
    "import/first": 0,
    "spaced-comment": 0,
    "react/jsx-indent": 0,
    "import/newline-after-import": 0,
    "react/no-unused-prop-types": 0,
    "react/self-closing-comp": 0,
    "generator-star-spacing": 0,
    "import/extensions": 0,
    "react/jsx-wrap-multilines": 0,
    "lines-between-class-members": 0,
    "import/named": 0,
    "prefer-destructuring": 0,
    "react/destructuring-assignment": 0,
    "react/jsx-one-expression-per-line": 0,
    "no-else-return": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "react/jsx-closing-tag-location": 0,
    "react/jsx-tag-spacing": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "react/jsx-curly-brace-presence": 0,
    "object-curly-newline": 0,
    "react/jsx-max-props-per-line": 0,
    "import/order": 0,
    "operator-linebreak": 0,
    "react/no-access-state-in-setstate": 0,
    "import/no-useless-path-segments": 0,
    "react/no-unused-state": 0,
    "react/sort-comp": 0,
    "no-restricted-globals": 0,
    "no-multiple-empty-lines": 0,
    "implicit-arrow-linebreak": 0,
    "react/jsx-closing-bracket-location": 0,
    "react/no-string-refs": 0,
    "react/no-find-dom-node": 0,
    "arrow-parens": 0,
    "react/prefer-stateless-function": 0,
    "eslint-disable-next-line": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/href-no-hash": [0], 
    "react-app/react/react-in-jsx-scope": [0],
    "no-unused-expressions": [
      0
    ],
    no-plusplus: "off",
    "no-continue": "off",
    "arrow-body-style": [
      0,
      "never"
    ],
    "func-names": 0,
    "prefer-const": 0,
    "no-extend-native": 0,
    "no-param-reassign": 0,
    "no-restricted-syntax": 0,
    "no-eval": 0,
    "react/jsx-no-bind": 0,
    "no-unused-vars": [
      0,
      {
        "ignoreRestSiblings": true
      }
    ]
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "jsx": true,
      "es6": true,
      "experimentalObjectRestSpread": true
    }
  },
  "globals": {
    "window": true,
    "document": true
  }
}
