.diskList {
  .title {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
  }
  .diskItem {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #efefef;
    padding-right: 66px;
    .path {
      display: flex;
      align-items: center;
      .pathLabel{
        color: #b4b4b4;
      }
    }
    .storageInfo {
      display: flex;
      .storage {
        &:last-child{
          padding-right: 0px;
        }
        padding: 0px 40px;
        margin: 16px 0;
        &:last-child {
          border-left: 1px solid #efefef;
        }
        .storageLabel, .schedulingLabel {
          padding: 5px 0px 0px 0px;
          color: #b4b4b4;
        }
      }   
    }
  }
}
