:global {
  .diskList {
    margin: 0 -8px 0 -8px;
    .content {
      border-left: 1px solid #d9dbde;
      border-right: 1px solid #d9dbde;
      border-bottom: 1px solid #d9dbde;
      padding: 0 10px;
    }
    .status, .path, .allocated, .replicas, .used, .size {
      text-align: left; 
    }
    .error {
      display: inline-block;
      color: #F15354;
      border: 1px solid #F15354;
      background-color: rgba(241,83,84,.05);
      padding: 0 4px;
    }

    .disabled {
      display: inline-block;
      color: #dee1e3;
      border: 1px solid #dee1e3;
      background-color: rgba(222,225,227,.05);
      padding: 0 4px;
    }
    .schedulable {
      display: inline-block;
      color: #27AE5F;
      border: 1px solid #27AE5F;
      background-color: rgba(39,174,95,.05);
      padding: 0 4px;
    }
    .unschedulable {
      display: inline-block;
      color: #F1C40F;
      border: 1px solid #F1C40F;
      background-color: rgba(241,196,15,.05);
      padding: 0 4px;
    }
    .pathLabel {
      color: #99a3a8
    }
    .title {
      text-align: left;
      padding: 8px 20px;
      background-color: #d1d4d7;
    }
    .secondLabel {
      font-size: 13px;
    }
  }
}
