.status {
  color: #27ae60;
}
.status, .name, .agentAddress, .replicas, .allowScheduling {
  text-align: left !important; 
}
.allowScheduling {
  text-align: right !important;
}
a {
  color: #108ee9;
}
