:global {  
  .capitalize {
    text-transform: capitalize;
  }

  .color-success, .healthy {
    color: @color-success;
  }

  .color-success, .ready {
    color: @color-success;
  }

  .color-success, .deployed {
    color: @color-success;
  }

  .color-error, .faulted, .failed, .error {
    color: @color-error;
  }

  .color-warning, .degraded, .rebuilding {
    color: @color-warning;
  }

  .bg-success, .bg-healthy {
    background-color: @color-success;
  }

  .bg-error, .bg-faulted {
    background-color: @color-error;
  }

  .bg-warning, .bg-degraded {
    background-color: @color-warning;
  }

  .color-link {
    color: @color-link;
  }

  .created {
    color: blue;
  }

  .detached, .unknown {
    color: gray;
  }

  .stopped {
    color: rgba(15,15,15,.925);
  }

  .lh-blur {
    filter: blur(0px);
  }

  .margin-right {
    margin-right: 16px;
  }

  .filter-input {
    margin-bottom: 8px;
  }

  .out-container-button {
    position: absolute !important;
    top: -46px !important;
    right: 0px !important;
  }
}