.volumeState {
  display: flex;
  align-items: center;
}
.volumeFilterDropdown {
  padding: 8px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
}
.filterTitle {
  color: #666;
  font-size: 15px;
}